*{
    transition: 0.3s ease;
}
.container{
    display: grid;
    grid-template-rows: repeat(5, 80px);
    grid-template-columns: repeat(5, 80px);
    grid-gap: 3px;
}
.square{
    cursor: pointer;
    border-radius: 10px;
}